@model IEnumerable<BusinessLayer.Task>

@{
    ViewBag.Title = "Tasks List";
}

<h2>Tasks List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td><b>Task Name</b></td>
        <td><b>Actions</b></td>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.TaskName
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
